.movie-card {
    height: 300px;
    text-align: center;
    background-color: var(--gray);
    overflow: hidden;
}

.movie-card:hover .details {
    transform: translateY(0%);
}

.container {
    position: relative;
}

mat-card-title {
    font-size: 1.2em;
    margin: 10px 0;
    color: var(--gray);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 300;
    position: relative;
}

.movie-card img {
    object-fit:fill;
    width: 100%;
    height: 100%;
}

button {
    font-family: "Fira Sans", sans-serif;
    font-weight: 200;
    background-color: var(--gray);
    width: 87px;
    transition: background-color 0.3s ease;
}

button:hover {
    font-weight: 600;
    color: var(--gray);
    background-color: #948c21;
    /* border: 1px solid #ccda12; */
}

mat-card-actions {
    display: flex;
    justify-content: space-between;
}

.details {
    display:block;
    width: 100%;
    height: 50%;
    height: 100px;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: var(--gray);
    transform: translateY(100%);
    transition: transform 0.4s ease-in-out;
    clip-path: polygon(0 20px, 100% 0, 100% 100%, 0 100%);
}

.details p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.details-content {
    position: relative;
    top: 30px;
    text-align: left;
    font-weight: 300;
}

.details-actors {transform: none;}